/* Estilos personalizados */
/* Color de fondo gris claro */

/*loading page*/
  #loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f1f1f1;
    }

    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
body {
  background-color: #f2f2f2;
}
.header-space {
  height: 200px; /* Ajusta la altura según tus necesidades */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.content {
  margin-top: 20px;
}

.content h1 {
  font-size: 24px;
}

.content p {
  font-size: 18px;
}



/* Título de la página */
h1 {
  color: #333;
}

.contact-form {
  margin: 50px auto;
  max-width: 800px; /* Aumentamos el ancho máximo */
  background-color: #fff;
  padding: 40px; /* Aumentamos el espacio interno */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

 /* Foto de perfil */
  .profile-pic {
    margin: 50px auto;
    width: 300px; /* Aumentamos el ancho */
    height: 300px; /* Aumentamos la altura */
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

.profile-pic {
  width: 200px; /* Tamaño de la foto de perfil */
  height: 200px; /* Tamaño de la foto de perfil */
  margin-left: auto;
  background-color: #000; /* Cambia esto al color deseado */
}


/* Experiencias */
.experience {
  margin: 50px auto;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
